<template name="menuNew">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" type="text" value="" placeholder="Name your menu-item" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <textarea name="description" type="text" value=""></textarea>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn cancel" href="#">Cancel</a>
            </div>
        </div>
    </form>
</template>